.ui.vertical.segment.simple-layout__header-menu {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:10px;
  padding-right:10px;
}

.ui.secondary.pointing.menu .item.simple-layout__header-menu__item--right {
  padding: 0px 0px 9px 0px;
}
