{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
