{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "./src",
          "reactive-data-source": "./src/libs/reactive-data-source"
        }
      }
    ]
  ]
}
