.ui.inverted.menu.content-container__menu--bottom--search {
  padding-bottom: 41px;
  background-color: #51545b;
}

.ui.fixed.menu.content-container__menu--top {
  padding-top:50px;
}

.content-container__background--empty {
  padding-top:30px;
}
