body: {
  height:100%;
}

#root {
  min-height:100vh;
  background: rgb(247, 247, 247);
}

.app {
  font-size:1em;
}

.ui.placeholder .line {
  background-color: rgb(247, 247, 247);
  font-size:1.5em;
  line-height: 0.5em;
}

.ui.form .field.disabled>label, .ui.form .fields.disabled>label, .ui.disabled.input, .ui.disabled.dropdown {
  opacity:1;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
  opacity:0.6;
}

/* Green */
.action-primary {
  color:#21ba45
}

/* Domapic purples */

/* Logo. Texts, etc.. */
.brand-primary {
  color:#393553;
}
/* Icons, etc. */
.brand-secondary {
  color:#554f7c;
}
/* Brightness */
.brand-terciary {
  color:#8579c0;
}

a {
  color:#554f7c;
}

a:hover {
  color:#8579c0;
}
