.ui.dropdown.settings-menu-dropdown {
  margin-left:10px;
  font-size:1em;
}

.ui.secondary.inverted.menu .settings-menu-dropdown:hover i.settings-menu-dropdown__icon {
  color:white;
}

.ui.inverted.menu .settings-menu-dropdown .item>a:not(.ui) {
  color: black;
}
