.sidebar-layout__sidebar-pusher {
  height:100vh;
}

.ui.vertical.segment.sidebar-layout__header-menu, .ui.vertical.segment.sidebar-layout__header-menu--mobile {
  padding-left:10px;
  padding-right:10px;
}

.ui.vertical.segment.sidebar-layout__header-menu {
  padding-top: 4px;
  padding-bottom: 5px;
}

.ui.vertical.segment.sidebar-layout__header-menu--mobile {
  padding-top: 6px;
  padding-bottom: 6px;
}

.ui.secondary.pointing.menu .item.sidebar-layout__header-menu__item--right {
  padding: 0px 0px 2px 0px;
}

.ui.secondary.pointing.menu .item.sidebar-layout__header-menu__item--toggle {
  padding-right: 30px;
  padding-left: 0px;
}
