.pushable.sidebar-layout--mobile {
  min-height: 100vh;
}

.pushable>.pusher.sidebar-layout__sidebar-pusher {
  min-height: 100vh;
}

.pushable>.pusher.dimmed.sidebar-layout__sidebar-pusher {
  max-height: 100vh;
  height: 100%;
}
