.sidebar {
  height:100vh;
}

.ui.segment.sidebar-desktop-menu {
  padding:0.1em 0;
}

.main-container {
  padding:1em;
}

.ui.secondary.pointing.menu .user-menu-item.item {
  padding: 0px 0px 4px 0px;
}

.ui.secondary.pointing.menu .user-menu-item.item.mobile {
  padding: 0px 0px 8px 0px;
}
